div {
    height: 300px;
    width: 300px;
    background-color: red;
}
div:hover {
    background-color: aqua;
    content: "I love You!";
}

div:hover::after {
    content: "I love You!";
    background-color: aqua;
    display: block;
}
